<header>
    <mat-toolbar>
        <div>
            <button class="mr-10" mat-raised-button routerLink="/">Home</button>

            <button class="mr-10" mat-raised-button routerLink="profile" *ngIf="auth.loggedIn">
        Profile
      </button>

            <button mat-raised-button routerLink="external-api" *ngIf="auth.loggedIn">
        External API
      </button>
        </div>
        <div>
            <span class="hello" *ngIf="auth.userProfile$ | async as profile">
        Hello, {{ profile.given_name }}
      </span>
            <button mat-raised-button color="primary" (click)="auth.login()" *ngIf="!auth.loggedIn">
        Log In
      </button>
            <button class="ml-10" mat-raised-button color="primary" (click)="auth.logout()" *ngIf="auth.loggedIn">
        Log Out
      </button>
        </div>
    </mat-toolbar>
</header>
